body {
    background-color: rgb(206, 194, 194);
    background-size: cover;
    background-repeat: no-repeat;
    
  }

.jumbotron {
    background-image: url("");
    font-family: 'Times New Roman', Times, serif;
    background-size: contain;
    text-shadow: 1px 1px 10px black;
  }
  .well, h3, h4 {
    font-family: 'Raleway', sans-serif;
  }
  
  .well {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .qHeader {
    text-decoration: underline;
  }
  
  .cartItem {
    cursor: pointer;
    color: #0088cc;
  }
  
  .cartItem:hover {
    text-decoration: underline;
  }
  
  .cartWell, .choiceWell, .deliveryWell, .pickupWell, #show-pizza, #pickupEnd, #deliveryEnd {
    display: none;
  }
  
  button#pickup, button#delivery {
    margin-left: 33%;
    margin-right: 33%;
  }
  
  #deliveryCost {
    margin-top: 10px;
    margin-bottom: 10px;
  }