body{
    background-color: rgb(182, 174, 174); 
  }
    .jumbotron {
      font-family: 'Alfa Slab One', cursive;
      background-image: url("https://bit.ly/3abxu6Z");
      background-size: cover;
     text-shadow: 5px 5px 10px black;
     background-size: cover;
     height: 250px;
     font-size: 55px;
     text-align: center;
     color: white;
    }
    .top{
        text-align: center;
        text-decoration: hsl(hue, saturation, lightness);
        text-shadow: green;
        font-size: 25px;
    }
    .person{
        text-align: center;
    }
    .qHeader {
        text-decoration: underline;
        font-size: 20px;
      }
      .well, h3, h4 {
        font-family: 'Raleway', sans-serif;
        text-align: center;
      }
.tony{
    text-align: center;
}